*{
padding: 0px;
margin: 0px; 
}
body{
background-image:url(airplane-2037961_1920.jpg);
background-size:cover;    
}
.nav ul li {
display: inline-block;
margin: 0px 40px;
padding: 20px 30px;
left: 0px;
top: 20px;
border-bottom:2px solid #fff  ; 
height:10px;   
}
.nav a{
text-decoration: none;
color:tan;
font-family: sans-serif;
padding: 70px;    
}
.login{
margin: 20px;    
padding: 50px;
top: 20px;
transform: translate(170%,15%);
background: rgb(0,0,0,0.4);
width: 200px;
height: 300px;
}
.login input[type="text"]{
margin: 20px;
background: none;
width: 200px;
height: 30px;
border: 1px solid #1fff ;
transform: translate(-20px);
color: #fff;
border-radius: 20px;
outline: none;
text-align: center;
}
.login input[ placeholder="last name"]{
 margin: 20px;
 background: none;
 width: 200px;
 height: 30px;
 border: 1px solid #1fff ;
 transform: translate(-18px,-17px);
 color: #fff;
 border-radius: 20px;
 outline: none;
 text-align: center; 
}
.login input[ placeholder="passport"]{
    margin: 20px;
    background: none;
    width: 200px;
    height: 30px;
    border: 1px solid #1fff ;
    transform: translate(-18px,-33px);
    color: #fff;
    border-radius: 20px;
    outline: none;
    text-align: center; 
   }
   .login input[ placeholder="travel place"]{
    margin: 20px;
    background: none;
    width: 200px;
    height: 30px;
    border: 1px solid #1fff ;
    transform: translate(-16px,-45px);
    color: #fff;
    border-radius: 20px;
    outline: none;
    text-align: center; 
   }

h3{
text-align: center;
color:#fff ;
font-size: 30px;    
}
button{
color: #fff;
font-size: 30px;
transform: translate(51px,-29PX);
outline: none;
background: none;
border-radius:20px;
width: 100px;
border:1px solid #FFF ;    
}
